@font-face {
  font-family: 'Graphik LCG';
  src: url('fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('fonts/GraphikLCG-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('fonts/Gilroy-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style-type: none;
}

body {
  font-family: 'Gilroy', sans-serif;

  background: url(../images/main-background.png) no-repeat;
  background-size: auto;
  background-position: bottom;
}

header {
  padding-top: 42px;
  width: 1180px;
  margin: 0 auto;
}

a {
  display: inline-block;

  color: black;
  text-decoration: none;
}

.main-resourse-title {
  margin-bottom: 40px;

  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.back-link {
  margin-bottom: 80px;
  padding-left: 36px;

  background: url(../images/return.png) no-repeat left;
  background-size: contain;
}

.modules {
  width: 1022px;
  margin: 0 auto;
  padding-bottom: 650px;
}

.intro,
.html,
.css,
.layout {
  position: relative;

  vertical-align: top;
  margin: 0 35px 35px 0;
  padding-bottom: 89px;
  display: inline-block;
  width: 480px;
  box-shadow: -3px 1px 20px 0px rgba(0, 0, 0, 0.31);
}

.html {
  margin-right: 0;
}

.css {
  padding-bottom: 42px;
}

.layout {
  padding-bottom: 119px;
  margin-right: 0;
}

.modules__title {
  margin-bottom: 70px;
  padding-left: 25px;
  font-size: 48px;
}

.block-container {
  padding-left: 80px;
}

.intro__image,
.html__image,
.css__image,
.layout__image {
  width: 480px;
  margin-bottom: 15px;
}

.html__title,
.css__title,
.layout__title,
.intro__title {
  font-size: 36px;
  color: #2f1ce4;
}

.intro__title,
.html__title,
.css__title,
.layout__title {
  margin-bottom: 20px;
}

.intro-terms__item,
.html-terms__item,
.css-terms__item,
.layout-terms__item {
  margin-bottom: 20px;
}

.module-order {
  position: absolute;
  bottom: 20px;
  right: 23px;

  font-size: 48px;
  color: #eaeaea;
}

.more-btn {
  display: block;

  padding: 23px 0;
  margin: 0 auto;
  margin-top: 100px;
  width: 240px;
  background: #ffffff;
  border: 3px solid #2f1ce4;

  text-align: center;
  color: #2f1ce4;
  font-size: 18px;
}
