@font-face {
	font-family: 'Graphik LCG';
	src: url('fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

li {
  margin-bottom: 20px;
}

code {
  font-family: 'Gilroy', sans-serif;
}

#tags-table {
  border-collapse: collapse;
  border: 2px solid #a0a0a0;
}

#tags-table td,
#tags-table th {
  border: 1px solid #a0a0a0;
  padding: 10px;
}

#tags-table caption {
  margin-bottom: 32px;

  text-align: center;
}

.tags-table__foot-title {
  color: blue;
}

.tags-table caption {
  text-align: center;
}
.main-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #222020;
}

.main-content__title {
  margin-bottom: 50px;

  font-family: 'Graphic LCG', sans-serif;
  color: #fff;

}

.main-content__download {
  margin-right: 30px;
  padding: 20px;
  border: 3px solid #2f1ce4;

  color: #fff;

  background-color: #2f1ce4;
}

.main-content__link {
  padding: 20px;
  border: 3px solid #fff;

  color: #fff;

  background-color: transparent;
}

.container {
  margin: 0 auto;
  padding: 30px 0 30px 0;
  width: 1170px;
}

ul.container__list {
  margin-bottom: 100px;

  list-style: disc;

  color: blue;
}

ul.container__list span {
  color: black;
}

.container__link {
  padding-left: 36px;

  background-image: url('../images/return.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.container__main-title {
  margin-top: 100px;
  padding-left: 100px;

  font-size: 48px;
  color: #222020;
}

.container__title {
  margin: 100px 0 25px 0;
  padding-left: 180px;

  font-size: 36px;
  color: #2f1ce4;
}

.container__list {
  padding-left: 200px;

  font-size: 18px;
}

.link-list__tag-link {
  text-decoration: underline;
  color: blue;
}

.container__text-info {
  padding-left: 180px;
  margin-bottom: 20px;
}

.container__pic {
  display: inline-block;
  margin: 50px 0 50px 0;
  padding-left: 200px;

  text-align: center;
}

.modules-link {
  display: block;
  width: 232px;
  margin: 0 auto;
  margin-bottom: 55px;
  padding: 20px 20px;
  border: 3px solid #2f1ce4;

  font-size: 18px;
  color: #2f1ce4;

  background-color: #ffffff;
}
